// colors
$black-color: #000000;
$primary-color: #263238;
$secondary-color: #8F95A5;
$white-color: #FFFFFF;
$number-color: #2A3246;
$gray-color: #546269;
// bacground-color
$grid-bg-color: #F5F5F5;
// fonts
$site-font: "Poppins", "Arial", sans-serif;