header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 3.1rem;
    padding-top: 5.5rem;
    padding-bottom: 5.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-logo {
        max-width: 106px;
    }
    @include responsive(m-desktop) {
        padding-top: 2.5rem;
        padding-bottom: 6.8rem;
    }
}